/* .backGround {
    background-color: #D9D9D9;
    height: 100vh;
    width: 100%;
    z-index: 0;
} */

.title {
    position: absolute;
    align-content: center;
    top: 155px;
    width: 480px;
    left: calc(50% - 240px);

    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #6190BC;
    /* background-color: #D9D9D9; */
    z-index: 2;
}
.subTitle1 {
    /* position: absolute; */
    /* left: 68.33%;
    right: 15.28%; */
    align-content: center;
    padding-top: 200px;
    width: 100%;
    /* left: 50%; */

    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 49px;
    color: #6190BC;
    text-align: center;
}

.aboutUsSubTitle {
position: absolute;
/* left: 68.33%;
right: 15.28%; */
justify-content: center;
top: 90%;
left: 5%;
width: 300px;
/* left: 50%; */

font-family: 'IBM Plex Sans Devanagari';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 49px;
color: #6190BC;
text-align: left;
}

.activeSubtitle {
    font-weight: bolder !important;
    color: #0C1526 !important;
}

.subLeft {
    position: absolute;
    width: 250px;
    left: calc(25% - 125px);
    text-align: center;
}

.subLeft2 {
    position: absolute;
    width: 250px;
    left: calc(37.5% - 125px);
    text-align: center;
}

.subLeft3 {
    position: absolute;
    width: 350px;
    left: calc(30% - 175px);
    text-align: center;
}

.subCenter {
    position: absolute;
    width: 250px;
    left: calc(50% - 125px);
    text-align: center;
}

.subRight {
    position: absolute;
    width: 250px;
    left: calc(75% - 125px);
    text-align: center;
}

.subRight2 {
    position: absolute;
    width: 250px;
    left: calc(62.5% - 125px);
    text-align: center;
}

.subRight3 {
    position: absolute;
    width: 350px;
    left: calc(70% - 175px);
    text-align: center;
}

.titleunderline {
    position: absolute;
    border-color: #0C1526;
    width: calc(100vw - 22vw);
    left: 11vw;
    height: 0px;
    top: 250px;
    z-index: 2;
    
    /* Trying to change behind the line to gray, no difference */
    background-color: 4px solid #0C1526;
    /* background-color: #D9D9D9; */
}

.titleunderline2 {
    position: absolute;
    border-color: #0C1526;
    width: calc(100vw - 30vw);
    left: 15vw;
    height: 0px;
    top: 375px;
    z-index: 2;
    
    /* Trying to change behind the line to gray, no difference */
    background-color: 4px solid #0C1526;
    /* background-color: #D9D9D9; */
}

.titleunderlineAU {
    position: absolute;
    border-color: #0C1526;
    width: 100%;
    height: 0px;
    z-index: 2;
    background-color: 4px solid #0C1526;
}

.form {
    position: absolute;
    display: block;
    margin-top: 100px;
    padding: 15px;
    left: calc(50% - 350px);
    background-color: #FFFFFF;
    border-radius: 25px;
    width: 700px;
    box-shadow: 0px 25px 25px #0C1526;
    
}

.form2 {
    position: absolute;
    display: block;
    margin-top: 200px;
    padding: 20px;
    /* padding-bottom: 100px; */
    left: calc(50% - 370px);
    background-color: #FFFFFF;
    border-radius: 25px;
    height: auto;
    width: 700px;
    /* border: 1px solid #0C1526; */
    box-shadow: 0px 25px 25px #0C1526;
}

.form3 {
    position: absolute;
    display: block;
    margin-top: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    left: calc(50% - 350px);
    background-color: #FFFFFF;
    border-radius: 25px;
    height: auto;
    width: 700px;
    box-shadow: 0px 25px 25px #0C1526;
}

.input {
    background: #FFFFFF;
    border-radius: 10px;
}

.input2 {
    position: absolute;
    /* margin-left: 10px; */
    /* right: 150px; */
    /* width: 40px; */
    
    font-size: 16px;
    font-weight: bold;
    
    background: #D9D9D9;
    /* box-shadow: 0px 4px 4px #0C1526; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px;
    Width: 200px;
    Height: 40px;
}

.input3 {
    position: absolute;
    right: 100px;
    border: 1px solid #0C1526;
    /* box-shadow: 0px 4px 4px #0C1526; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.span {
    position: absolute;
    left: 20px;
    bottom: 30px;
}

.span2 {
    position: absolute;
    left: 20px;
    bottom: 5px;
}

.hyperlink {
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-decoration-line: underline;
    color: #0C1526;
}

.inputTitles1 {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 200px;
    margin-top: 10px;
    padding-left: 175px;
    margin-bottom: 17px;
}

.inputTitles1Alt {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 275px;
    margin-top: 10px;
    padding-left: 75px;
    margin-bottom: 17px;
}
.inputTitles2 {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 200px;
    margin-top: 17px;
    padding-left: 175px;
    margin-bottom: 10px;
}

.inputTitles2Alt {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 275px;
    margin-top: 17px;
    padding-left: 75px;
    margin-bottom: 10px;
}

.inputTitles3 {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 200px;
    margin-top: 24px;
    padding-left: 175px;
    margin-bottom: 10px;
}

.inputTitles3Alt {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 275px;
    margin-top: 24px;
    padding-left: 75px;
    margin-bottom: 10px;
}

.inputTitles4 {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 200px;
    margin-top: 31px;
    padding-left: 175px;
    margin-bottom: 10px;
}

.inputTitles5 {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 200px;
    margin-top: 38px;
    padding-left: 175px;
    margin-bottom: 10px;
}
.inputTitles6 {
    position: absolute;
    align-content: center;
    height: 32px;
    width: 200px;
    margin-top: 45px;
    padding-left: 175px;
    margin-bottom: 10px;
}

.inputBoxes1 {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 10px; */
    right: 150px;
    height: 42px;
    width: 204px;
}

.inputBoxes1Alt {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 10px; */
    right: 100px;
    height: 42px;
    width: 204px;
}

.inputBoxes2 {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 7px; */
    margin-top: 7px;
    right: 150px;
    height: 42px;
    width: 204px;
}

.inputBoxes2Alt {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 7px; */
    margin-top: 7px;
    right: 100px;
    height: 42px;
    width: 204px;
}

.inputBoxes3 {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 7px; */
    margin-top: 14px;
    right: 150px;
    height: 42px;
    width: 204px;
}

.inputBoxes3Alt {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 7px; */
    margin-top: 14px;
    right: 100px;
    height: 42px;
    width: 204px;
}

.inputBoxes4 {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 7px; */
    margin-top: 21px;
    right: 150px;
    height: 42px;
    width: 204px;
}

.inputBoxes5 {
    position: absolute;
    /* margin-left: 10px; */
    /* padding-top: 7px; */
    margin-top: 28px;
    right: 150px;
    width: 204px;
}

.label {
    /* padding-left: 175px; */
    font-weight: bold;
    font-size: 18px;
    color: #0C1526;
    /* padding-right: 150px; */
}

.label2 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #0C1526;
}
.label2Alt1 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #0C1526;
    padding-left: 20%;
    padding-right: 15px;
}
.label2Alt2 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #0C1526;
    padding-left: 15px;
    padding-right: 15px;
}
.label2Alt3 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #0C1526;
    padding-left: 15px;
    padding-right: 15px;
}

.label3 {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    color: #0C1526;

}

.labelCentered {
    padding-left: 135px;
    /* left: calc(50% - 350px); */
    font-weight: bold;
    font-size: 18px;
    color: #0C1526;
}

.serviceLabel {
    padding-left: 25px;
    font-weight: bold;
    color: #0C1526;
    background-color: #6190BC;
    margin: 20px;
    height: 60px;
    align-content: center;
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
}

.servicelabelsub {
    background-color: #DFDFDF;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}

.buttonContainer {
    /* position: absolute; */
    display: block;
    width: 400px;
    height: 80px;
    padding-top: 25px;
    padding-left: calc(50% - 140px);
    /* padding-right: 20px; */
    /* left: calc(50vw - 100px); */
}

.button1 {
    /* position: absolute; */
    width: 280px;
    /* padding-top: 25px; */
    /* padding-left: 20px; */
    /* left: calc(50vw - 160px); */
}
.button2 {
    /* position: absolute; */
    width: 140px;
    /* padding-top: 25px; */
    padding-left: 10px;
    left: calc(50vw + 100px);
}

.radioButton {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: calc(50% + 20px);
    border: 1px solid;
}

/* Testing image stuff out */
.pic1 {
    /* display: block; */
    display: absolute;
    /* border-style: none; */
    border-radius: 20px;
    margin-top: 300px;
    border-radius: 20px;
    /* border-style: solid #0C1526; */
    width: 600px;
    height: 600px;
    z-index: 3;
    /* background-image: url("./Assets/Rae\ Riding\ Lessons\ Logo\ _2_.png"); */
}

/* Testing image stuff out */
.aboutUsPic {
    position: absolute;
    display: block;
    left: calc(75% - 200px);
    top: 40%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 400px;
    z-index: 3;
}

/* https://www.pexels.com/photo/woman-on-galloping-horse-holding-american-flag-10127178/ */
.trainerPic1 {
    position: absolute;
    display: block;
    left: calc(20% - 125px);
    top: 110%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
}

/* https://www.pexels.com/photo/cowboy-on-rearing-horse-13528086/ */
.trainerPic2 {
    position: absolute;
    display: block;
    left: calc(40% - 125px);
    top: 110%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
}

/* https://www.pexels.com/photo/an-equestrian-riding-her-horse-jumping-an-obstacle-7367730/ */
.trainerPic3 {
    position: absolute;
    display: block;
    left: calc(60% - 125px);
    top: 110%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
}

/* https://www.pexels.com/photo/person-horseback-riding-outdoors-1524620/ */
.trainerPic4 {
    position: absolute;
    display: block;
    left: calc(80% - 125px);
    top: 110%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
}
.aboutUsPara {
    position: absolute;
    padding: 0;
    display: block;
    text-align: center;
    left: 5%;
    top: calc(40% - 12px);
    border-style: 20px solid #0C1526;
    width: 500px;
    z-index: 3;
}

.trainerTitle1 {
    position: absolute;
    text-align: center;
    display: block;
    left: calc(20% - 100px);
    top: 155%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 200px;
    /* left: 68.33%;
    right: 15.28%; */
    justify-content: center;
    
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    color: #0C1526;
}

.trainerTitle2 {
    position: absolute;
    text-align: center;
    display: block;
    left: calc(40% - 100px);
    top: 155%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 200px;
    /* left: 68.33%;
    right: 15.28%; */
    justify-content: center;
    
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    color: #0C1526;
}

.trainerTitle3 {
    position: absolute;
    text-align: center;
    display: block;
    left: calc(60% - 100px);
    top: 155%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 200px;
    /* left: 68.33%;
    right: 15.28%; */
    justify-content: center;
    
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    color: #0C1526;
}

.trainerTitle4 {
    position: absolute;
    text-align: center;
    display: block;
    left: calc(80% - 100px);
    top: 155%;
    border-radius: 20px;
    border-style: 20px solid #0C1526;
    width: 200px;
    /* left: 68.33%;
    right: 15.28%; */
    justify-content: center;
    
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 49px;
    color: #0C1526;
}

.trainerPara1 {
    position: absolute;
    padding-bottom: 25px;
    display: block;
    text-align: center;
    top: 160%;
    left: calc(20% - 125px);
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
    font-size: 16px;
    /* font-weight: bold; */
}

.trainerPara2 {
    position: absolute;
    padding-bottom: 25px;
    display: block;
    text-align: center;
    top: 160%;
    left: calc(40% - 125px);
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
    font-size: 16px;
    /* font-weight: bold; */
}

.trainerPara3 {
    position: absolute;
    padding-bottom: 25px;
    display: block;
    text-align: center;
    top: 160%;
    left: calc(60% - 125px);
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
    font-size: 16px;
    /* font-weight: bold; */
}

.trainerPara4 {
    position: absolute;
    padding-bottom: 25px;
    display: block;
    text-align: center;
    top: 160%;
    left: calc(80% - 125px);
    border-style: 20px solid #0C1526;
    width: 250px;
    z-index: 3;
    font-size: 16px;
    /* font-weight: bold; */
}



/* Didn't really do anything, just added it to your hard coded section
* for item lists */
.itemList {
    position: absolute;
    align-content: center;
    text-align: center;
    color: #0C1526;
}

.sessionNote {
    width: 302px;
    height: 509px;
    float: left;
    background-color: #FFFFFF;
    border-radius: 25px;
    padding: 20px;
    margin-top: 192px;
    margin-left: 30px;
    box-shadow: 0px 10px 10px #0C1526;
}

.sessionTitle {
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 49px;
    text-align: center;
}

.sessionDescription {
    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 23px;
    text-align: center;
}

.sessionHR {
    width: 340px;
    margin-left: -20px;
}

.addAppointmentButton {
  background-color: #b50b0b;
  cursor: pointer;
  border-radius: 4px;
  width: 120px;
  padding: 5px;
  margin-top: 10px;
  margin-left: 60px;
}

.customerAppointmentPill {
  margin: 5px;
  border-radius: 16px;
  padding: 10px;
  text-align: center;
  width: 210px;
  cursor: pointer;
  font-size: 14px;
}

.monPill {
    background-color: red;
}

.tuePill {
    background-color: orange;
}

.wedPill {
    background-color: yellow;
}

.thuPill {
    background-color: green;
}

.friPill {
    background-color: blue;
}

.satPill {
    background-color: indigo;
}

.sunPill {
    background-color: violet;
}