.title {
    position: absolute;
    align-content: center;
    top: 15.72%;
    bottom: 78.32%;
    width: 100%;

    font-family: 'IBM Plex Sans Devanagari';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    text-align: center;
    color: #6190BC;
}

.titleunderline {
    position: absolute;
    width: calc(100vw - 22vw);
    left: 11vw;
    height: 0px;
    top: 275px;
    
    background-color: 4px solid #0C1526;
}

.form {
    background-color: #fff;
    border-radius: 25px;
    height: 300px;
    width: 300px;
}

.input {
    background: #FFFFFF;
    border-radius: 10px;
}
