  .banner {
    background-color: #0C1526;
    width: 100%;
    height: 99px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logoPic {
    position: absolute;
    align-items: left;
    /* top: 10px; */
    left: 0px;
    height: 99px;
    width: auto;
  }

  .activetab {
    font-weight: bolder !important;
  }

  .tab {
    position: absolute;
    width: 160px;
    height: 48px;
    left: 376px;
    top: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #E4E4E4;
  }

  .tab:hover {
    font-size: 26px;
    cursor: pointer;
    /* color: yellow; */
  }

  .clickedTab {
    font-size: 26px;
  }
  .loginTab {
    position: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
  }


  .services {

    /* left: 20vw;
    top: 35px;
    position: absolute; */
    top: 35px;
    left: calc(25% - 80px);
    position: absolute;
   }

  .aboutus {
    /*   
    left: 47vw;
    top: 35px;
    position: absolute;
    align-items: center; */
    top: 35px;
    /* left: 50%; */
    left: calc(50% - 80px);
    position: absolute;
  }

  .news {

    /* left: 70vw;
    top: 35px;
    position: absolute; */
    top: 35px;
    left: calc(75% - 80px);
    position: absolute;
  }

  .login {
    position: absolute;
    width: 86px;
    height: 22px;
    right: 125px;
    top: 20px;
    cursor: pointer;
  }
  
  .login:hover {
    font-weight: bold;
  }

  .signup {
    position: absolute;
    width: 86px;
    height: 22px;
    right: 25px;
    top: 20px;
    cursor: pointer;
  }

  .signup:hover {
    font-weight: bold;
  }

  .centerTabs {
    align-content: center;
    justify-content: center;
    /* top: 35px; */
    left: calc(50vw - 100px);
    position: absolute;
    text-align: center;
    width: 200px;
    /* position: absolute;
    left: calc(50vw - 80px); */

  }

  .dropDownMenu {
    position: absolute;
    top: 67px;
    left: calc(100vw - 272px);;
    background-color: #FFFFFF;
    border: 2px #0C1526;
    border-style: solid;
    border-radius: 20px;
    width: 250px;
    height:auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: 0px 25px 25px #0C1526;
    z-index: 4;
  }

  .dropEntry {
    margin-top: 5px;

  }

.menunUnderline {
  position: relative;
  width: 250px;
  height: 0px;
  z-index: 0;
  
  background-color: 4px solid #0C1526;
}

.pad {
  padding-left: 20px;
}

.pad:hover {
  font-weight:bold;
  cursor: pointer;
  /* font-size: 22px; */
}