  .banner {
    background-color: #0C1526;
    width: 100vw;
    height: 99px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .activetab {
    font-weight: 700;
  }

  .tab {
    position: absolute;
    width: 160px;
    height: 48px;
    left: 376px;
    top: 28px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #E4E4E4;
  }

  .loginTab {
    position: right;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #FFFFFF;
  }


  .services {

    /* left: 20vw;
    top: 35px;
    position: absolute; */
    top: 35px;
    left: calc(25vw - 80px);
    position: absolute;
   }

  .aboutus {
    /*   
    left: 47vw;
    top: 35px;
    position: absolute;
    align-items: center; */
    top: 35px;
    left: calc(50vw - 80px);
    position: absolute;
  }

  .news {

    /* left: 70vw;
    top: 35px;
    position: absolute; */
    top: 35px;
    left: calc(75vw - 80px);
    position: absolute;
  }

  .login {
    position: absolute;
    width: 86px;
    height: 22px;
    right: 125px;
    top: 20px;
  }
  
  .signup {
    position: absolute;
    width: 86px;
    height: 22px;
    right: 25px;
    top: 20px;
  }

  .centerTabs {
    align-content: center;
    justify-content: center;
    /* position: relative; */
    width: 100vw;
    /* left: 25vw; */

  }

  .dropDownMenu {
    position: absolute;
    top: 67px;
    left: calc(100vw - 260px);;
    background-color: #FFFFFF;
    border: 2px #0C1526;
    border-style: solid;
    border-radius: 20px;
    width: 250px;
    height:auto;
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding: 15px; */
    /* margin: 0 auto; */
    /* right: 10px; */
  }

  .dropEntry {
    margin-top: 5px;

  }

.menunUnderline {
  position: relative;
  width: 250px;
  height: 0px;
  
  background-color: 4px solid #0C1526;
}

.pad {
  padding-left: 20px;
}
  